<!doctype html>
<title>Style Transfer</title>
<h1>Image Style Transfer</h1>
<h2>Select your image and theme:</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

{#Image upload#}
{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}

{#Submit button#}
<form method="post" action="/result" enctype="multipart/form-data">
    {#Style dropdown menu#}
    <select class="form-control" method="POST" id="style" name="style">
        <option selected>Grayscale</option>
        <option>La Muse</option>
        <option>Rain Princess</option>
        <option>The Scream</option>
        <option>Udnie</option>
        <option>Wave</option>
        <option>Wreck</option>
    </select>
    {#Input image#}
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
